@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Color Variables */
:root {
  --color-black: #000000;
  --color-dark-gray: #1a1a1a;
  --color-red: #e50815;
  --color-light-red: #d40813;
  --color-white: #ffffff;
  --color-light-gray: #b2b3b3;
  --color-gray: #5f5f5f;
  --color-overlay: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-black);
  color: #e5e5e5;
}

/* Banner Wrap Section */
.banner-wrap {
  background-image: url(./assets/bgimage.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: var(--color-overlay);
  position: absolute;
  top: 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 120px;
  padding: 48px 48px;
}

.navbar img {
  height: 40px;
}

/* Banner Container */
.banner-container {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Sign in box */
.sign-in-box {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 682px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 48px 68px;
}

.sign-in-box h1 {
  font-size: 32px;
  margin-bottom: 28px;
}
.sign-in-box input {
  color: inherit;
  padding: 16px 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(42, 50, 67, 0.4);
}

.sign-in-box form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sign-in-box form p {
  text-align: center;
}

.sign-in-box form a {
  margin: 0;
  padding: 10px 16px;
  color: var(--color-white);
  background-color: var(--color-red);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
.sign-in-box form a:hover {
  background-color: var(--color-light-red);
  transition: 0.2s ease;
}
.sign-in-box form .second-btn:hover {
  background-color: var(--color-gray);
  transition: 0.2s ease;
}

.sign-in-box form .second-btn {
  background-color: rgba(128, 128, 128, 0.4);
}

.remember-me {
  display: flex;
  gap: 10px;
  margin: 20px 0px 0 0;
}

.bottom-text p {
  color: var(--color-light-gray);
  margin: 20px 0px;
}

.bottom-text p span {
  color: var(--color-white);
}

.bottom-text .disclaimer {
  font-size: 13px;
}
.bottom-text .disclaimer span {
  font-size: 13px;
  color: blue;
}

/* Footer */
.footer {
  color: var(--color-light-gray);
  margin: 100px 120px 0 120px;
  padding: 48px 48px;
}

.footer-links {
  display: flex;
  background: var(--color-black);
}

.footer p,
ul,
.dropdown {
  margin: 5px 0px;
}

.footer p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer ul {
  padding: 0 100px 0 0;
  margin: 0;
  list-style: none;
}

.footer ul li {
  text-decoration: underline;
  font-size: 14px;
  padding: 15px 50px 0 0;
}

.footer ul li:hover {
  cursor: pointer;
}

.dropdown select {
  padding: 6px 36px;
  color: inherit;
  background-color: var(--color-black);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  margin: 20px 0px;
}
